@use "~src/styles/colors";
@use "~src/styles/mixins" as *;

.contact {
  padding: 1.5rem;
  background-color: colors.$secondary;
  color: colors.$white;

  &__container {
    @include container;
  }

  &__title {
    margin: 1rem 0;
    text-align: center;

    @include tablet() {
      font-size: 2.5rem;
    }
  }
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {

  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    text-decoration: none;
    color: inherit;
  }

  &__name {
    margin: 0.5rem 0;
  }
}
