@use "./colors";
@use "./variables" as var;
@use "./mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  max-width: 100vw;
  font-family: Helvetica, sans-serif;
  background-color: colors.$light-gray;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

@include desktop() {
  * {
    scrollbar-width: thin;
    scrollbar-color: colors.$thumbBG colors.$scrollbarBG;
  }
  
  ::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.25rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: colors.$thumbBG;
    border-radius: 0.25rem;
    border: 1px solid transparent;
  }
}
