@use "~src/styles/colors";
@use "~src/styles/mixins" as *;

.repositories {
  padding: 1.5rem;

  &__container {
    @include container;
  }

  &__title {
    margin: 1rem 0;
    text-align: center;

    @include tablet() {
      font-size: 2.5rem;
    }
  }
}

.repository-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.repository {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: colors.$dark;
  background-color: colors.$white;
  border-radius: 0.5rem;

  &__name {
    margin: 0.75rem 0;
  }
  
  &__description {
    margin: 0.5rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }

  &__topics-title {
    margin: 0.25rem 0;
  }
}

.topic-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0.5rem 0;
  padding: 0;
  list-style-type: none;
}

.topic {
  align-self: flex-start;
  padding: 0.25rem 0.5rem;
  color: colors.$white;
  background-color: colors.$dark-blue;
  border-radius: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  min-width: 240px;
  text-align: center;
  text-decoration: none;
  color: colors.$white;
  background-color: colors.$primary;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
}
