@use "~src/styles/colors";
@use "~src/styles/mixins" as *;

.about {
  padding: 1.5rem;
  background-color: colors.$thumbBG;

  &__container {
    @include container;
  }

  &__title {
    margin: 1rem 0;
    text-align: center;

    @include tablet() {
      font-size: 2.5rem;
    }
  }

  &__info {
    text-align: center;

    @include tablet() {
      font-size: 1.5rem;
    }
  }

  &__text {
    line-height: 1.5;
  }
}
